{% extends "Student/CourseIndex.html" %}

{% block navCourseHomework %}
    <a class="ajax-link nav-active" href="{% url "view_course_homeworks" cid %}">
        <i class="glyphicon glyphicon-eye-open"></i><span>课程作业</span>
    </a>
{% endblock navCourseHomework %}

{% block course %}

    <h3 class="text-primary">课程作业</h3>
    <table class="table table-striped table-bordered" id="homework-table">
        <tbody>
        <tr>
            <th>
                作业ID
            </th>
            <th>
                作业名
            </th>
            <th>
                发布日期
            </th>
            <th>
                开始日期
            </th>
            <th>
                结束日期
            </th>
            <th>
                状态
            </th>
            <th>
                操作
            </th>
        </tr>

        {% for homework in allHomeworks %}
            <tr {% if homework.type == 1 %} class="active" {# 未开始的作业 #}
                    {% elif homework.type == 2 %} class="success"{# 开始且已提交 #}
                    {% elif homework.type == 3 %} class="warning"{# 开始但未提交 #}
                    {% elif homework.type == 4 %}  class="danger"{# 结束未提交 #}
                    {% elif homework.type == 5 %} class="info"{# 结束已提交 #}
                   {% endif %}>
                <td><span class="HwId">{{ homework.id }}</span></td>

                <td> {{ homework.Heading }}</td>
                <td> {{ homework.InsertTime }}</td>
                <td> {{ homework.StartTime }}</td>
                <td> {{ homework.EndTime }}</td>
                 <td>
                    {% if homework.type == 1 %} <p class="text-active">未开始</p>{# 未开始的作业 #}
                    {% elif homework.type == 2 %} <p class="text-success">已提交</p>{# 开始且已提交 #}
                    {% elif homework.type == 3 %} <p class="text-warning">未提交</p>{# 开始但未提交 #}
                    {% elif homework.type == 4 %}  <p class="text-danger">已结束</p>{# 结束未提交 #}
                    {% elif homework.type == 5 %} <p class="text-info">已结束</p>{# 结束已提交 #}
                    {% endif %}
                </td>
                <td><a href="{% url 'view_homework' homework.id  1%}" class="btn btn-link watch-detail">查看详细</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <style>
        .style1 {
            color: black;
        }

        .style2 {
            color: greenyellow;
        }

        .style3 {
            color: orange;
        }

        .style4 {
            color: forestgreen;
        }

        .style4 {
            color: orangered;
        }
    </style>

{% endblock course %}