{% extends "Module/main.html" %}

{% block mainbody %}

    <div id="fullpage">
      <div class="section active" id="section0">
        <div class="container">
          <div class="row">
            <div class="colr-sm-2 col-md-2 col-lg-2"></div>
            <div class="loader col-sm-3 col-md-3 col-lg-3" style="margin-left: 0px">
                <span class="loader-block"></span>
                <span class="loader-block"></span>
                <span class="loader-block"></span>
                <span class="loader-block"></span>
                <span class="loader-block"></span>
                <span class="loader-block"></span>
                <span class="loader-block"></span>
                <span class="loader-block"></span>
                <span class="loader-block"></span>
            </div>
            <div class="r-loader col-md-offset-1 col-sm-3 col-md-3 col-lg-3">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
          </div>
          <div class="colr-sm-2 col-md-2 col-lg-2"></div>
          <div id="loader-container" class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>

          <div class="row">
            <div class="colr-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-3 col-md-3 col-lg-3" style="">
              <h1 class="text-info" style="font-size:40px;font-weight 400;color:#eeeeee;">
                多门课程
              </h1>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-left:55px;">
              <h1 class="text-info" style="font-size:40px;font-weight 400;color:#eeeeee;">
                师生在线交流
              </h1>
            </div>

          <div class="col-sm-3 col-md-3 col-lg-3" style="">
            <h1 class="text-info" style="font-size:40px;font-weight 400;color:#eeeeee;">
              热门课程
            </h1>
          </div>
        </div><!--end row-->

        </div>
      </div>

      <div class="container section" id="section1">
          <h2 class="text-info" style="font-size: 40px;font-weight: 400;color: #2c2f35;">热门课程</h2>
          <br /><br />
          <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-10 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img src="static/img/math.png" alt="math">
                <div class="caption">
                  <h3>工科高等数学</h3>
                  <p>
                    <a href="#" class="btn btn-link" role="button">教师:魏光美</a><br />
                    <a href="#" class="btn btn-link" role="button">2015-2016第1学期</a>
                  </p>
                </div>
              </div><!--end thumbnail-->
            </div>

              <div class="col-sm-10 col-md-3 col-lg-3">
                <div class="thumbnail">
                  <img src="static/img/soft-intro.png" alt="软工导论">
                  <div class="caption">
                    <h3>软件工程导论</h3>
                    <p>
                      <a href="#" class="btn btn-link" role="button">教师:吕云翔</a><br />
                      <a href="#" class="btn btn-link" role="button">2015-2016第2学期</a>
                    </p>
                  </div>
                </div><!--end thumbnail-->
              </div>

              <div class="col-sm-10 col-md-3 col-lg-3">
                <div class="thumbnail">
                  <img src="static/img/soft.png" alt="soft">
                  <div class="caption">
                    <h3>软件工程过程</h3>
                    <p>
                      <a href="#" class="btn btn-link" role="button">教师:林广艳</a><br />
                      <a href="#" class="btn btn-link" role="button">2015-2016第2学期</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-1 col-md-1 col-lg-1"></div>

          </div><!--end row-->

      </div>

      <div class="container section" id="section2">
        <h1 class="text-info" style="font-size:40px;font-weight 400;">
          师生在线交流
        </h1>
        <img src="static/img/communicate.png" alt="communicate"/>
      </div>

      <div class="container section" id="section3">
        <div class="row">
          <div class="col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-sm-10 col-md-5 col-lg-5" style="color:#fff">
            <h1>北京航空航天大学软件学院</h1>
            <p style="line-height:2em">北京航空航天大学软件学院是2002年经国家教育部和国家纪委联合批准成立的全国37所国家示范性软件学院之一。
              北航软件学院以创办一所能够在一种新的办学机制下，规模培养全面和谐发展的、创新型的、国际化的、
              市场急需的工程实用性人才的国内一流学院为发展目标，以培养高层次、实用性、复合型、国际化的软件工程专业人才为宗旨，
              以期为振兴中国软件产业做出贡献，为创建适应行业需求和市场导向的新型办学机制探路，为软件工程高端人才培养做示范，
              为推进工程教育的改革提供实践经验。
              学院目前在校本科生634人；在校研究生超过6500人，已向软件行业输送毕业研究生7235人（截止2014年3月）。</p>
          </div>
          <div class="col-sm-10 col-md-5 col-lg-5">
            <img style="width:100%" src="static/img/soft.jpg" alt="BUAA Software Colelge" />
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1"></div>
        </div><!--end row-->
      </div>

      <div class="section fp-auto-height" style="text-align:center" id="section4">

        <div class="intro">
            <p>
                Copyright&copy2016 School of Software,BUAA. All Right Reserved 京ICP备05004617号-5
            </p>
        </div>
        <br /><br /><br />
      </div><!--end footer-->
  </div><!--end fullPage-->

{% endblock mainbody %}
